/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600;700&display=swap');
/* brand-4-- font-family: 'Lemonada', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* heeading ----- font-family: 'Lobster', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
/* font-family: 'Abril Fatface', cursive; - name */
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
/* other -  */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body{
    scroll-behavior: smooth;
    user-select: none;
}
#GoTop{
    transform: rotate(-90deg);
}
a{
    text-decoration: none;
}
#GoTop{
    z-index: 99999999999;
    background-color: yellow;
    color: rgb(0, 0, 0);
    padding: 5px;
    border: 2px solid rgba(224, 224, 195, 0.534);
    border-radius: 60%;
    position: fixed;
    bottom: 2%;
    right: 2%;
    animation: move 2s infinite alternate ease-in-out;
    transition: all 0.5s ease-in-out;
}
#GoTop:hover{
    color: blue;
    background-color: rgb(255, 255, 241);
}
@keyframes move {
    0%{
        bottom: 3%;
    }
    100%{
        bottom: 1%;
    }
}
body{
    position: relative;
    top: auto;
    height: auto;
    left: 0%;
    right: 0%;
    background-color: aliceblue;
}
nav{
    display: flex !important;
    justify-content: space-between;
    padding: 10px 0 5px 0;
}
.nav{
    /* background-color: rgb(27, 2, 138); */
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    z-index: 99999999999;
    padding: 5px 0;

}
div#active-nav{
    background-color:rgba(0, 0, 90, 0.349);
    color: white;
    box-shadow: 2px 2px 10px 7px rgba(78, 2, 2, 0.192);
}
nav ul{
    display: flex;
    list-style-type: none;
}
header{
    background-image: url(../images/bg4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0 30 0;
}
nav h3.brand-4{
    text-transform: uppercase;
    font-size:2.1rem;
    font-weight: 600;
    font-family: 'Lemonada', cursive;
}
nav h3.brand-4 a{
    color: white;
    transition: all 0.5s ease-in-out;
}
nav h3.brand-4:hover{
    color: yellow !important;
    letter-spacing: 1.2px;
}

nav ul li a{
    margin: 0 10px;
    position: relative;
    color: white !important;
    overflow: hidden;
    display: inline-block;
    line-height: 30px;
}
nav ul li a:hover{
    color: yellow !important;
}
nav ul li a::after{
    content: "";
    width: 100%;
    background-color: yellow;
    left: -100%;
    height: 3px;
    border-radius: 12px;
    position: absolute;
    bottom:0%;
    transition: all 0.5s ease-in-out;
}
nav ul li a:hover::after{
    left: 0%;
}

nav #open-icon , nav #close-icon{
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 12px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    right: 10%;
    transition: all 0.4s ease-in-out;
}
nav #open-icon , nav #close-icon{
    display: none;
}
nav #open-icon:hover,
nav #close-icon:hover{
    color: white;
    background-color: rgb(0, 75, 141);
}
@media (max-width:1001px) {
    nav #nav-ul{
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: rgba(8, 126, 57, 0.432);
        width: 30%;
        right: 10%;
        top: 80px;
        text-align: center;
        height: auto;
        justify-content: center;
        padding: 0%;
        border-radius: 20px;
        display: none;
    }
    nav #open-icon{
        display: inline-block;
    }
    nav #nav-ul li a{
        line-height: 60px;
        margin: 12px 0;
        padding: 0%;
    }
}


@media (max-width:678px) {
    nav #nav-ul{
        width: 50%;
    }
}
@media (max-width:500px) {
    nav #nav-ul{
        width: 80%;
        right: 10%;
    }
}
ul.splide__pagination{
    display: none !important;
}
div.splide{
    overflow: hidden;
    height: 70px;
    padding: 10px 0;
    
}
header .right img{
    width: 60%;
    display: flex;
    text-align: center;
    margin: 0% auto;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 2px 7px 7px rgba(1, 31, 70, 0.308);
        transition: all 0.5s ease-in-out;
        cursor: pointer;
}
header .right img:hover{
    transform: translateY(-5px);
    box-shadow: 2px 2px 7px 7px rgba(1, 32, 71, 0.507);
}
header .left h4.hi{
    font-size: 14px;
    color: blanchedalmond;
}
header .left h4 em{
    color: cornsilk;
    font-size: 16px;
}
header .left h3.hero{
    color: white;
    font-size: 3rem;
    margin: 1rem 0;
    transition: all 0.5s ease-in-out;
    font-family: 'Yeseva One', cursive;
}
header .left h3.hero:hover{
    color: yellow;
    cursor: pointer;
    letter-spacing: 1.2px;
}
header .left .splide__track h4{
    color: yellow;
    letter-spacing: 1.3px;
    font-size: 2rem;
    font-family: 'Aclonica', sans-serif;
}
header .left .social i{
    color: rgb(253, 253, 253);
    /* background-color:rgb(246, 248, 237); */
    padding: 7px;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-left:5px ;
    margin-right: 5px;
    border-radius: 50%;
    margin-right:3px ;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 1px 7px 2px rgba(60, 56, 104, 0.212);
}
header .left .social i:hover{
    background-color: yellow;
    color: blue;
    transform: translateY(-7px);
    box-shadow: 1px 1px 7px 2px rgba(207, 204, 238, 0.63);
}
header .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
header .right {
    text-align: center;
}
div.buttons a{
    border: 2px solid yellow;
    margin-bottom: 50px;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
    display: inline-block;
    padding: 8px 25px;
    color: white;
}
div.buttons a:hover{
    background-color: yellow;
    color: blue !important;
    border-color: blue;
    letter-spacing: 1.2px;
    font-weight: bold;
}
@media (max-width:1000px) {
    header .left .splide__track h4{
        letter-spacing: 0px;
        font-size: 1.5rem !important;
    }
    header .right img{
        width: 80%;
        margin: 0 auto;
        text-align: center;
        border-radius: 50%;
    }
    header .left{
        /* margin-left: 150px; */
        text-align: center;
        margin-top: 20px;
    }
    
}
@media (max-width:808px) {
    div.buttons a{
        margin-bottom: 0%;
    }
}
@media (max-width:768px) {
    header .left .splide__track h4{
        letter-spacing: 0px;
        font-size: 1.8rem !important;
    }
  
    header .right img{
        width: 50%;
        border-radius: 50%;
        margin-top: 100px;
    }
    header .left{
        /* margin-left: 80px; */
        margin-top: 20px;
    }
    header .left h3.hero{
        margin:5px 0%;
    }
    header .container{
        padding-bottom: 50px;
    }
   
}
@media (max-width:508px) {
    header .left .splide__track h4{
        letter-spacing: 0px;
        font-size: 1.8rem !important;
    }
    header .right img{
        width: 60%;
        border-radius: 50%;
        
    }
    header .left{
        margin-left: 5px;
        margin-top: 10px;
    }
    header .left h3.hero{
        margin:5px 0%;
    }
   

}

@media (max-width:313px) {
    header .left .splide__track h4{
        font-size: 1.2rem !important;
    }

}
header{
    position: relative;
}
.header-bottom-icon i.icon1{
    color: yellow;
    position: absolute;
    bottom:3%;
    left: 50%;
    cursor: pointer;
    animation: last-header-icon1 1s  1s infinite alternate ease-in-out;
}
.header-bottom-icon i.icon2{
    color: yellow;
    position: absolute;
    bottom: 4%;
    left: 50%;
    cursor: pointer;
    /* animation: last-header-icon2 3s  1s infinite alternate ease-in-out; */
}
@keyframes last-header-icon1{
    0%{
        bottom: 7%;
    }
    100%{
        bottom: 4%;
    }
}
section#About{
    background-color: #fff;
    position: relative;
    min-height: 100vh;
}

section div.heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
section div.heading h2{
    text-align: center;
    display: inline-block;
    margin: 0% auto;
    position: relative;
    top: 0%;
    left: 0%;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 15px;
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    text-shadow: 3px 3px 12px rgba(0, 0, 0, 0.473);
}
section div.heading h2:hover{
    color: blue;
    letter-spacing: 3px;
    text-shadow: 3px 3px 12px rgba(41, 40, 40, 0.507);
}
@keyframes heding-after {
    0%{
        left: 8%;
    }
    100%{
        left: 90%;
    }
}
section div.heading h2::after{
    background-color: blue;
    content: '';
    position: absolute;
    bottom: 5%;
    left: 0%;
    height: 3px;
    width: 80%;
    margin-left: 10%;
    border-radius: 20px;
    text-shadow: 3px 3px 12px rgba(0, 0, 0, 0.473);

}
section div.heading h2::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0%;
    background-color: blue;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    text-shadow: 3px 3px 12px rgba(0, 0, 0, 0.473);
    animation: heding-after 2s   infinite alternate ease-in-out;
}
section#About .imgbox-about{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
section#About .imgbox-about img{
    margin-left: 20%;
    width: 70%;
    border-radius: 7px;
    box-shadow: 1px 1px 12px 2px rgba(0, 0, 0, 0.315);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
section#About .imgbox-about img:hover{
    transform: translateY(-7px);
    box-shadow: 1px 1px 12px 2px rgba(4, 34, 90, 0.445);
}
section#About .inner-text{
    width: 80%;
    display: flex;
    margin-left: 15%;
    text-align: justify;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

section#About .inner-text p{
    color: grey;
    font-size: 14px;
}
section#About .row{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-top: 60px;
}
section#About .inner-text h3.name{
    font-size: 3rem ;
    font-family: 'Yeseva One', cursive;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
section#About .inner-text{
    margin-top: 20px;
}
section#About .inner-text h3.name:hover{
    color: blue;
}
@media (max-width:1204px) {
    section#About .inner-text p.para-2{
    display: none;
    }
    section#About .inner-text{
        margin-top: 10px;
    }
}

.btn3{
    color: blue  !important;
    font-weight: bold;
    border-color:darkred !important ;
}
@media (max-width:991px) {
    section#About .inner-text{
        margin: 5%;
        width: 100%;
    }
    section .btn3{
        text-align: center;
        margin: 10px auto;
    }
    section#About .imgbox-about img{
        margin: 0%;
        display: none;
    }
}
section#Skills{
    background-image: linear-gradient( rgba(1, 26, 94, 0.281) 100%, rgba(141, 80, 80, 0.397)100%),url(../images/bg4.jpg);
    color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
    min-height: 90vh;
}
section#Skills .inner-skills .box-name{
    background-color:rgba(19, 0, 71, 0.151);
    padding: 20px 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.308);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
section#Skills .inner-skills .box-name:hover{
    transform: translateY(-10px);
    box-shadow: 2px 2px 12px rgba(1, 41, 6, 0.63);
    background-color:rgba(19, 0, 71, 0.329);
    color: yellow;
}
/* education style */

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;    background-color: rgb(22, 43, 110);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    box-shadow: 2px 2px  7px 7px rgba(8, 8, 8, 0.055);

  }
  
  /* Containerss around content */
  .timeline .containerss {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .timeline .containerss::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12px;    background-color: rgb(22, 43, 110);
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 2px 2px  10px rgba(92, 3, 3, 0.39);

  }
  
  /* Place the containerss to the left */
  .timeline .left {
    left: 0;
  }
  
  /* Place the containerss to the right */
  .timeline .right {
    left: 50%;
  }
  
  /* Add arrows to the left containerss (pointing right) */
  .timeline .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent brown;
  }
  
  /* Add arrows to the right containerss (pointing left) */
  .timeline .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent brown transparent transparent;
  }
  
  /* Fix the circle for containersss on the right side */
  .timeline .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .timeline .content {
    padding: 20px 30px;
    background-color: rgb(37, 70, 179);
    color: white;
    position: relative;
    border-radius: 6px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 2px 2px  10px rgba(92, 3, 3, 0.39);
  }
  .timeline .content:hover{
      transform: translateY(-10px);
          background-color: rgb(14, 142, 202);
  }
  .timeline .content:hover h2,
  .timeline .content:hover h4{
      color: yellow;
  }
  .timeline .content:hover p{
      color: whitesmoke;
  }
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containersss */
   .timeline .containerss {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
   .timeline .containerss::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
   .timeline .left::after, .timeline .right::after {
    left: 15px;
    }
    
    /* Make all right containersss behave like the left ones */
   .timeline .right {
    left: 0%;
    }
  }
  .box-work .content h2{
      font-family: 'Abril Fatface', cursive;
      color: rgba(255, 255, 0, 0.815);
  }
  .box-work .content small{
      font-size: 12px;
      color: aliceblue;
      opacity: 0.6;
  }
  .box-work .content h4{
      color: rgb(241, 239, 136);
      font-size: 18px;
  }
  .box-work .content p{
      color: gainsboro;
      font-size: 13px;
      letter-spacing: -0.2px;
  }

  /* work */
  section#work{   
       background-image: linear-gradient( rgba(93, 120, 196, 0.281) 100%, rgba(141, 80, 80, 0.397)100%),url(../images/bg4.jpg);
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

section#work img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
section#work .card{
    position: relative;
    top: 0%;
    left: 0%;
    overflow: hidden;
    cursor: pointer;
}
section#work .card .hide-education{
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgba(3, 49, 109, 0.651);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: -100%;
    transition: all 0.5s ease-in-out;
}
section#work .card:hover .hide-education{
    top: 0%;
}
section#work .card .hide-education p{
    font-size: 18px;
    color: white;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
}
section#work .card .hide-education h5,
section#work .card .hide-education p:hover{
    color: yellow;
    letter-spacing: 1.2px;
    transform: translateY(-10px);
}
section#work .card .hide-education i{
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50% ,-65%);
    font-size: 2rem;
    color: yellow;
    margin-top: 20px;
}
section#work .card .hide-education i:hover{
    color: white;
}
section#work .card img{
    width: 100%;
    height: 300px !important;
}
/* contact */
section#contact{
    width: 100%;
    background-color: #fff;
    padding: 20px 0 50px 0;
}
section#contact .contact-box{
    width: 100%;
    height: 100%;
    margin: 55px 0 30px 0;
    text-align: center;
}
section#contact .contact-box .card-contact{
    padding: 35px 10px;
    border-radius: 4px;
    box-shadow: 2px 2px 10px 7px rgba(78, 2, 2, 0.192);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
section#contact .contact-box .card-contact:hover{
    transform: translateY(-10px);
    background-color: rgb(88, 88, 204);
}
section#contact .contact-box i{
    font-size: 3rem;
    margin-bottom: 10px;
    color: blue;
    transition: all 0.5s ease-in-out;
}
section#contact .contact-box h3{
    font-size: 16px;
    color: rgb(78, 0, 0);
    transition: all 0.5s ease-in-out;
}
section#contact .contact-box h4{
    font-size: 14px;
    margin-top: 20px;
    transition: all 0.5s ease-in-out;
}
section#contact .card-contact:hover i{
    color: yellow;
}
section#contact .card-contact:hover h3{
    color: white;
}
section#contact .card-contact:hover h4{
    color: aliceblue;
}
footer{
    background-color: rgb(4, 0, 43);
    color: white;
}
footer p+p{
    font-size: 12px;
}
